body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: rgb(207, 207, 207);
    font-family: 'Roboto Mono', monospace;
    background: url("Images/clouds.jpg") no-repeat center center fixed;
    background-size: cover;
}

.main{
    background-color: rgba(0, 0, 0, 0.652);
    padding: 30px;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
}

.el{
    font-size:large;
    font-style: italic;

}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Mono', monospace;
}

button{
    width:fit-content;
    margin: 10px auto;
    padding: 10px;
    font-size: 1em;
    background-color: rgba(60, 60, 60, 0.7);
    border: none;
    border-radius: 18px;
    color: rgb(207, 207, 207);
    cursor: pointer;  
    font-family: 'Roboto Mono', monospace;
}

button:hover{
  width:fit-content;
  margin: 10px auto;
  padding: 10px;
  font-size: 1em;
  background-color: rgba(60, 60, 60, 0.7);
  border: none;
  border-radius: 18px;
  color: rgb(207, 207, 207);
  cursor: pointer;  
  font-family: 'Roboto Mono', monospace;
}

.logout-button {
  width:fit-content;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  font-size: 1em;
  color: white;
  background-color: rgba(60, 60, 60, 0.7);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: rgba(60, 60, 60, 0.87);
}

input{
    border: none;
  outline: none;
  padding: 1em;
  height: 1em;
  border-radius: 18px;
  background-color: rgba(101, 101, 101, 0.514);
}

input :focus{
    border: none;
    outline: none;
    padding: 1em;
    height: 1em;
    border-radius: 18px;
    background-color: rgba(34, 34, 34, 0.514);
}

.container{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.652);
    padding: 30px;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
}